


.loginPage {

    ion-toolbar {

        --border-style: none;
        --border-color: transparent;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        //--padding-start: 1rem;
        --padding-end: 1rem;
    }
}

.headingText {

    h5 {

        margin-top: 0.1rem;
        //color: #d3a6c7;
    }
}

.field:not(:last-child) {
  margin-bottom: 1rem !important;
}

.field {

  ion-label {

      padding-left: 0.2rem;
      padding-right: 0.5rem;
      //color: #d3a6c7;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      p {

          color: rgb(236, 149, 35);
      }
  }
}



  .customLink {
    color: rgb(236, 149, 35);
  }
  
  .customBack {
  
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
    font-size: 0.8rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .customButton {
  
    --border-radius: 5px !important;
    --background: rgb(236, 149, 35);
    --background-activated: rgb(192, 125, 38);
    --background-focused: rgb(192, 125, 38);
    font-size: 1.2rem;
    margin-top: 1rem;
  }