/* .content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 !important;
    background-color:white; 
    box-shadow: none;
    text-decoration: none;
} */

.desc-wrapper {
    /* display: flex;
    flex-direction:row;
    background-color:white; 
    box-shadow: none; */
}


/* .img {
    margin:0 !important;
    padding: 0 !important;
    width:  120px;
    height: 100%;
    object-fit: cover;  
    object-position: 50% 50%;
} */

.title {
    font-size:18px;
    font-weight: 800;
}
.genre {
    margin-top:5px;
    font-size:13px;
    font-weight: 400;
    text-align:justify;
}
.description {
    margin-top:5px;
    font-size:12px;
    font-weight: 400;
    text-align:justify;
}
.platform {
    margin-top:8px;
    font-size:13px;
    font-weight: 400;
}

.img-item {
    width:100%;
}

.game-cardlist:hover {
    /* background-color: slategray; */
    /* box-shadow: inset 0px 0px 0px 1px red; */
    opacity: 0.5;
   
}    