

.img-small::part(image) {
    width: 50%; 
    /* height: 9rem;  */
    /* or whatever value */
    /* you can set the height value too */
  }
  
.label-divider{
    font-size:12px;
    margin-left:10px;
}  
.item-divider{
    background-color:rgb(242,242,247);

}


.avatar-content {
    display: flex; 
    justify-content: center
}

.item-avatar  { 
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}